@model HomeDepotWebApp.BookingSet


@if (@ViewBag.Name != null)
{<p>
        Velkommen @ViewBag.Name
 </p>}


@{
    Layout = null;
}



@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Opret en booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Afhentningstid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Afhentningstid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Afhentningstid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Antaldage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Antaldage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Antaldage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VærktøjId, "VærktøjId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VærktøjId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VærktøjId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opret" onClick="alert('Booking oprettet');">
            </div>
        </div>
    </div>
}




